<ion-view view-title="" hide-nav-bar="true">
    <ion-content class="bg-image">
        <div class="row whole-height">
            <div class="col col-center">
                <div style="height: 100px; width: 100%;">
                    <p class="tacbu-text">tacbu</p>
                </div>
                <form name="loginForm" ng-submit="login()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="email" placeholder="Email" ng-model="loginData.email" placeholder="beli.nicart@gmail.com" required>
                        </label>
                        <label class="item item-input">
                            <input type="password" placeholder="Password" ng-model="loginData.password" placeholder="*******" required>
                        </label>
                        <button class="button button-positive button-block" type="submit" ng-disabled="loginForm.$invalid">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>

        </ion-content>
</ion-view>