<ion-view view-title="News Feed">
    <!--<ion-nav-buttons side="right">
        <button class="button button-clear button-balanced" ng-click="openCreateActivityModal()">
            <i class="ion-plus-circled icon-large"></i>
        </button>
    </ion-nav-buttons>-->
    <div class="float-button" ng-click="openCreateActivityModal()">
        <span class="height-fix">
            <a class="content">
                <i class="ion-ios-plus-empty"></i>
            </a>
        </span>
    </div>
    <ion-content>
        <div class="card" ng-repeat="newsfeed in newsfeeds" ui-sref="activity-details(newsfeed)">
            <div class="item item-avatar ">
                <img src="http://cdn-img.easyicon.net/png/11100/1110055.gif">
                <h2>{{ newsfeed.title }}</h2>
                <p>{{ newsfeed.date | fromNow }}</p>
                <p>{{ newsfeed.category }}</p>
                <p>By {{ newsfeed.organizer }}</p>
            </div>
        </div>
    </ion-content>
</ion-view>