<ion-view view-title="Profile">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
    <div class="list card">
      <div class="item item-avatar">
        <img ng-src="{{ currentUser.picture }}">
        <h2>{{ currentUser.name }}</h2>
        <p>{{ currentUser.email }}</p>
      </div>
      <h3 class="text-center">My Activities</h3>
      <div class="item item-body" ng-if="currentUser.activities.length">
        <div class="card" ng-repeat="activity in currentUser.activities" ui-sref="activity-details(activity)">
          <div class="item item-divider">
            {{ activity.name }}
          </div>
          <div class="item item-text-wrap">
            <span>{{ activity.date_from | fromNow }}</span><br>
            <span>{{ activity.category.name | uppercase }}</span>
          </div>
        </div>
      </div>
    </div>
    </ion-content>
</ion-view>
