<ion-view view-title="Activity" hide-nav-bar="true">
  <!-- <ion-nav-buttons side="primary"> -->
    <!-- <button class="button" ng-click="goBack()">
      <i class="ion-chevron-left"></i> Back
    </button> -->
  <!-- </ion-nav-buttons> -->
  <ion-content ng-if="!isLoading">
    <button class="button" ng-click="goBack()">
      <i class="ion-chevron-left"></i> Back
    </button>
    <div class="card custom-card">
      <div class="item item-avatar custom-item-avatar">
        <img ng-src="{{ activity.organized_by.image }}">
        <h2>{{ activity.name }}</h2>
        <p>{{ activity.date_from | fromNow }}</p>
        <p>{{ activity.category.name | uppercase }}</p>
        <p>By {{ activity.organized_by.name }}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
